body {
  background-color: #000;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;  
  overflow-x: hidden;
}

.welcome-side {
  flex-grow: 1;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.welcome-text {
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.welcome-images {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.welcome-images img {
  width: 200px;
  margin-bottom: 20px;
}

.chatbot-container {
  width: 800px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.messages-container {
  height: 490px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the scrollbar */
.messages-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.messages-container::-webkit-scrollbar-track {
  background: #000; /* Background color of the scrollbar track */
}

.messages-container::-webkit-scrollbar-thumb {
  background: #3a3a3a; /* Color of the scrollbar thumb */
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.message {
  display: flex; /* Add flex display to align image and content */
  align-items: center; /* Align image and content vertically */
  background-color: #140441;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
  color: #fff;
}

.user {
  background-color: #071c33;
  color: #fff;
  text-align: left;
}

.message img {
  max-width: 40px; /* Adjust the image size as needed */
  margin-right: 8px; /* Add some spacing between image and content */
  border-radius: 50%; /* Make the image circular if desired */
}

.input-container {
  display: flex;
  margin-top: 10px;
  background-color: #000;
  margin-bottom: 5px;
  height: 40px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;  
  margin-left: 10px;
  background-color: #033935;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0d240e;
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
  }

  .welcome-side {
    width: 100%;
    align-items: center;
    padding: 10px 10px 10px 0px;
  }

  .welcome-images img {
    width: 150px;
    margin-bottom: 20px;
  }

  .welcome-text {
    text-align: center;
    margin-bottom: 10px;
  }

  .welcome-images {
    flex-direction: row;
    align-items: center;
  }

  .chatbot-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    margin-top: 20px;
  }
  .input-container {
    height: 40px;
  }
}

